/*  Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

 :root {
     --color-1: #14213d;
     --color-2: #14213d;
     --color-3: #fca311;
     --color-4: #E5E5E5;
     --color-5: white;
    --main-color: #fca311;
    --secondary-color: black;
    /* 
     --color-1: black;
     --color-2: #14213d;
     --color-3: #fca311;
     --color-4: #E5E5E5;
     --color-5: white;
    --main-color: #fca311;
    --secondary-color: #14213d;
    */
    --blackTransparent: rgba(0, 0, 0, 0.5);
    --color-5: rgb(240, 240, 240);
    --sectionPadding: 100px 0;
    --main-duration: 0.5s;
}

body {
    font-family: 'Poppins', 'Tajawal', sans-serif;
    background-color: var(--secondary-color);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-transform: uppercase;
    margin: 5rem auto 5rem;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    font-size: 3rem;
    color: var(--main-color);
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-duration);
}

.heading span {
    text-transform: uppercase;
    color: var(--color-5);
}

.heading::before,
.heading::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.heading::before {
    left: -30px;
}

.heading::after {
    right: -30px;
}

.heading:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.heading:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.heading:hover {
    color: white;
    border: 2px solid var(--secondary-color);
    transition-delay: 0.5s;
}


/* --------- header ------- */


.head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding-top: 30px; */
    /* padding-left: 6%;
padding-right: 6%; */
}

.head .logo {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}

@media (max-width: 767px) {
    .head .logo {
        width: 100%;
        height: 50px;
    }
}

.head .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .head .navigation {
        margin: auto;
    }
}

.head .navigation>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-5);
    transition: var(--main-duration);
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    .head .navigation>li>a {
        padding: 10px;
        font-size: 14px;
    }
}

.head .navigation>li>a:hover {
    color: var(--main-color);
}


/* --------- landing ----------- */

.landing {
    position: relative;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .image img {
    position: relative;
    width: 600px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 676px) {
    .landing .image img {
        display: none;
    }
}

.landing .text {
    flex: 1;
}

.landing .text h1 {
    color: var(--color-5);
    letter-spacing: 2px;
    font-size: 20px;
}

.landing .text h1 span {
    color: white;
    font-size: 75px;
    margin: 20px 0px;
}

.landing .text p {
    font-size: 1.8rem;
    color: var(--main-color);
}

@media (max-width:767px) {
    .landing .text h1 {
        font-size: 30px;
        text-align: center;
    }
    .landing .text h1 span {
        font-size: 65px;
        text-align: center;
    }
    .landing .text p {
        font-size: 25px;
        text-align: center;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    transition: var(--main-duration);
    animation: bouncing 1.5s infinite;
}

.landing .go-down:hover i {
    color: var(--color-5);
}

.landing .go-down i {
    color: var(--main-color);
}


/* animation */

@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    70% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}


/*----- about section starts ----- */

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--color-5)
}

.about .row .info-container {
    flex: 1 1 42rem;
}

.about .row .info-container h1 {
      text-transform: uppercase;
    padding-bottom: 1rem;
    /*  */
    font-size: 4rem;
    background: linear-gradient(to top right, var(--main-color)8%, var(--color-4) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .row .box-container {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .info-container .box-container .box {
    flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
    border-bottom: 1px solid var(--main-color);
}

.about .row .info-container .box-container .box h3 span {
    font-weight: bold;
 
    background: linear-gradient(to top right, var(--main-color)8%, var(--color-4) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    display: inline-block;
    margin: 5rem 1rem;
    border-radius: 5rem;
    background: var(--main-color);
    padding: .7rem;
    font-size: 1.7rem;
    color: #fff;
    padding-left: 2rem;
}

.btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #fff;
    color: var(--main-color);
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.about .row .count-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1 1 42rem;
}

.about .row .count-container .box {
    flex: 1 1 6rem;
    padding: 3rem 4rem;
    border-radius: .5rem;
    background: var(--color-1);
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 70%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 70%);
    transition: var(--main-duration);
}

.about .row .count-container .box:hover {
    transform: translateY(-5%);
}

.about .row .count-container .box h3 {
    font-size: 5rem;
    color: var(--main-color);
    margin: 0;
    text-align: center;
}

.about .row .count-container .box p {
    font-size: 2rem;
    color: #aaa;
    margin: 0;
    text-align: center;
}


/* about section ends */


/* skills section starts */

.skills .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.skills .box-container .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 70%);
    border-radius: .5rem;
    background: var(--color-1);
    transition: var(--main-duration);
    overflow: hidden;
}

.skills .box-container .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -1px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-duration);
}


/*
    .skills .box-container .box p {
        padding: 5px;
    
        margin-left: -12px;
        color: var(--color-5);
        font-size: 1.8rem;
        position: absolute;
        background-color: var(--main-color);
        text-align: right;
        bottom: -80px;
        transition: var(--main-duration);
    } */


/*
    .skills .box-container .box p::after {
        content: "soon";
        position: absolute;
        background-color: var(--main-color);
        color: white;
        left: 0;
        top: 0;
        height: 100%;
        width: 80px;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
    } 
    */


/* .skills .box-container .box:hover p {
        bottom: 10px;
    } */

.skills .box-container .box:hover::before {
    width: 100%;
}

.skills .box-container .box:hover {
    /* background-color: var(--color-5); */
    transform: translateY(-10px);
}


/* .skills .box-container .box:hover h3 {
    color: var(--secondary-color);
} */

.skills .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
}

.skills .box-container .box h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: uppercase;
}

.education .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.education .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
}

.education .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: var(--main-color);
    color: #fff;
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
}

.education .box-container .box span {
    font-size: 1.7rem;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    background: var(--color-1);
}

.education .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
    padding-top: 3rem;
    font-weight: normal;
}

.education .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
}

.portfolio {
    text-align: center;
}

.portfolio .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.portfolio .box-container .box {
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.portfolio .box-container .box:hover .content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.portfolio .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
}

.portfolio .box-container .box .content a {
    font-size: 2rem;
    color: var(--color-5);
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
}

.portfolio .box-container .box .content a:hover {
    color: #fff;
}


/********************************/

.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .contact-me p {
        max-width: 100%;
        padding: 0 20px;
        margin: 0 auto 35px;
        text-align: center;
    }
}

.contact-me .button-two {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    /* font-weight: bold; */
    padding: 1rem 3rem;
    border-radius: 30px;
    transition: .4s;
    font-size: 1.8rem;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: var(--main-color);
    bottom: 35px;
    font-size: 14px;
}


/* ------template page------ */

.temp-head .container .template-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-5);
}

.temp-head .template-heading .about {
    font-size: 2.5em;
    line-height: 1.35em;
}

.temp-head .container .template-heading h1 {
    font-size: 2.3em;
    font-weight: 700;
    color: var(--color-5);
    background-color: var(--main-color);
    /* width: 6rem; */
    /* height: 6rem; */
    padding: 0.55em 0.6em;
    margin: 0 0 0.5em 0;
    border-radius: 4px;
    border: 0;
}



.temp-head .features ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-5);
    position: relative;
}

.temp-head .features ul i::before {
    content: "";
    /* position: absolute; */
    display: block;
    margin: 0 auto 0.35em auto;
    border-radius: 100%;
    background: transparent;
    font-size: 2.75em;
    width: 2.1em;
    height: 2.1em;
    /* line-height: 2.1em; */
    /* text-align: center; */
    box-shadow: 0 0 0 1px #dee0e3;
    cursor: default;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}